@media only screen and (max-width: 480px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  header .big2-title {
    font-size: 8rem;
    margin-left: 15%;
    font-family: "Shadows Into Light", cursive;
    text-shadow: 10px 10px 10px #070707;
    letter-spacing: 0.4rem;
  }
  header .peace-sign {
    width: 100px;
    margin-left: 2%;
    filter: drop-shadow(2px 2px 5px #666);
  }
  .hidden {
    display: none;
  }
  .bg-popups {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.728);
    z-index: 10;
  }
  .lobby-popup-starting-game {
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    height: 20%;
    width: 60%;
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }
  .lobby-popup-starting-game .lobby-popup-starting-text {
    text-align: center;
  }
  .lobby-popup-leaving-game {
    background-color: rgb(51, 51, 51);
    border: 2px solid black;
    height: 20%;
    width: 60%;
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }
  .lobby-popup-leaving-game .lobby-popup-leaving-text {
    text-align: center;
  }
  .lobby-popup-leaving-game .lobby-leave-btn {
    width: 50%;
    height: 30px;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid black;
  }
  .lobby-popup-leaving-game .lobby-leave-yes-btn {
    background-color: blue;
  }
  .lobby-popup-leaving-game .lobby-leave-no-btn {
    background-color: rgb(0, 54, 0);
  }
  .game-header {
    height: 15vh;
    top: 100px;
  }
  .game-header .big2-title {
    font-size: 5rem;
  }
  .game-header .peace-sign {
    width: 123px;
  }
  .lobby-loggedin-player {
    position: fixed;
    left: 10px;
    top: 0;
    z-index: 5;
  }
  .lobby-game-name {
    text-align: center;
    height: 5vh;
    background-color: rgb(1, 85, 98);
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .lobby-game-table {
    background-color: rgb(92, 30, 30);
    height: 50vh;
    width: 100vw;
    position: relative;
  }
  .lobby-game-table .lobby-seat {
    height: 45px;
    width: 152px;
    position: absolute;
  }
  .lobby-seat:nth-child(1) { /* first seat */
    top: 0; /* position at the top */
    left: 50%; /* center horizontally */
    transform: translateX(-50%); /* center horizontally */
  }
  .lobby-seat:nth-child(2) { /* second seat */
    left: 0; /* position at the left */
    top: 50%; /* center vertically */
    transform: translateY(-50%); /* center vertically */
  }
  .lobby-seat:nth-child(3) { /* third seat */
    right: 0; /* position at the right */
    top: 50%; /* center vertically */
    transform: translateY(-50%); /* center vertically */
  }
  .lobby-seat:nth-child(4) { /* fourth seat */
    bottom: 0; /* position at the bottom */
    left: 50%; /* center horizontally */
    transform: translateX(-50%); /* center horizontally */
  }
  .lobby-opt-section {
    background-color: whitesmoke;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
  }
  .lobby-opt-section .lobby-opt-btn {
    height: 39px;
    width: 124px;
    text-align: center;
    margin-right: 7px;
    margin-left: 7px;
  }
  /* Add margin to the bottom of the first two buttons */
  .lobby-opt-btn:nth-child(1),
.lobby-opt-btn:nth-child(2) {
    margin-bottom: 20px;
  }
  /* Style the br element so that it clears the float */
  br {
    clear: both;
  }
}
@media (orientation: landscape) {
  .hidden {
    display: none;
  }
  .game-table-info {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
  }
  .game-table-info .game-table-infotext {
    font-size: 0.5rem;
  }
  .game-table-menu {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  .game-table-menu .game-table-menu-btn {
    background-color: blue;
    border: none;
    position: fixed;
    right: 10px;
    height: 30px;
    width: 50px;
  }
  .game-table-menu .game-table-dropdown {
    position: fixed;
    right: 10px;
    top: 40px;
    width: auto;
    background-color: grey;
  }
  .game-table-menu .game-table-dropdown .game-table-links > li {
    list-style-type: none;
    padding: 5px;
  }
  .game-table-top {
    height: 10vh;
    width: 100%;
  }
  .game-table-playing-container {
    position: relative;
  }
  .game-table-playing-container .game-table-player {
    position: absolute;
    width: 100px;
    height: 30px;
    z-index: 5;
  }
  .game-table-playing-container .game-table-playing-field {
    height: 27vh;
    width: 70%;
    background-color: rgb(117, 34, 34);
    text-align: center;
    margin: 0 auto; /* center the element horizontally */
    max-width: 100%; /* make the element responsive */
    position: relative;
  }
  .game-table-playing-container .game-table-pass-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 30px;
    z-index: 5;
    background-color: red;
  }
  .game-table-playing-container .game-table-play-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 30px;
    z-index: 5;
    background-color: rgb(3, 69, 3);
  }
  .game-table-player:nth-child(1) {
    top: -50px;
    left: calc(50% - 50px); /* center the button horizontally */
    background-color: purple;
    border: none;
    border-radius: 5px;
  }
  .game-table-player:nth-child(2) {
    top: calc(50% - 25px); /* center the button vertically */
    right: 10px;
    background-color: rgb(211, 160, 211);
    border: none;
    border-radius: 5px;
  }
  .game-table-player:nth-child(3) {
    bottom: 50%; /* center the button vertically */
    left: 10px;
    background-color: pink;
    border: none;
    border-radius: 5px;
  }
  .game-table-placeholder-cards {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: grey;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  /* CSS styles for desktop view */
}/*# sourceMappingURL=main.css.map */